{% extends 'base.html' %}

{% block head %}
{% include "gamemaster/gamemaster-script.html" %}
<title>Gamemaster</title>
{% endblock %}


{% block body %}
<header class="main-header" style="text-align: center;">
    <h2 class="main-header-title">
        Gamemaster
    </h2>
</header>
<div class="content">
    <div class="teams-list" id="teams-list">
        {% for team, data in teams.items() %}
            {% include "gamemaster/team-template.html" %}
        {% endfor %}
    </div>
    
    <div class="question-form">
        <div class="commands">
            <button type="button" class="send-btn" onclick="lockAnswer()">Verrouiller</button>
            <button type="button" class="send-btn" onclick="sendNewQuestion()">Nouvelle question</button>
        </div>
        <div class="question-type">
            <input type="radio" name="question" id="question1" value="1" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question1">Question simple</label>
            <input type="radio" name="question" id="question2" value="2" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question2">Image</label>
            <input type="radio" name="question" id="question3" value="3" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question3">Buzzer</label>
        </div>
        <div class="question-option" id="question-option">
        </div>
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</div>

{% endblock %}