{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='gamemaster.js') }}"></script>
<title>Gamemaster</title>
{% endblock %}


{% block body %}
<header class="main-header" style="text-align: center;">
    <h2 class="main-header-title">
        Gamemaster
    </h2>
</header>
<div class="content">
    <div class="teams-list" id="teams-list">
        {% for team, data in teams.items() %}
        <div class="team" id="{{ team }}" style="order: {{ data.get('idx') }} {% if not data.get('connected') %} ;filter:grayscale(1) {% endif %}">
            <header class="banner">
                <div>
                    <h4>
                        {{ team }}
                    </h4>
                </div>
                <div class="score">
                    <button type="button" onclick="subPoint(`{{team}}`)">-</button>
                    <span id="score-{{team}}">
                        {{ data.get('score') }}
                    </span>
                    <button type="button" onclick="addPoint(`{{team}}`)">+</button>
                </div>
                <div class="team-controller">
                    <button type="button" onclick="upOrder(`{{team}}`)">↑</button>
                    <button type="button" onclick="downOrder(`{{team}}`)">↓</button>
                    <button type="button" onclick="kick(`{{team}}`)">Kick</button>
                </div>
            </header>
            <div class="answer">
                <pre id="{{ team }}-answer">{{ data.get('answer', '') }}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="question-form">
        <div class="question-type">
            <input type="radio" name="question" id="question1" value="1" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question1">Question simple</label>
            <input type="radio" name="question" id="question2" value="2" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question2">Image</label>
            <input type="radio" name="question" id="question3" value="3" onchange="loadQuestionOption(this.value)">
            <label class="question" for="question3">Buzzer</label>
        </div>
        <div class="question-option" id="question-option">
        </div>
        <button type="button" class="send-btn" onclick="sendNewQuestion()">Nouvelle question</button>
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</div>

{% endblock %}